html {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

.flex {
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;   
    display: block;
}

body {
    margin: 0;
    max-width: 2560px; 
    font-family: 'font', sans-serif;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;   
}

.container {
    width: 970px;
    margin: 0 auto;
}

 .item-title {
     margin: 0;
     margin-bottom: 15px;
 }

 .item-text {
     margin: 0;
     margin-bottom: 15px;
 }

/* burger */

.header {   
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #fff;
}

.header ul {
    list-style: none;
  overflow: hidden;
}


.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon {margin-top: 15px;}

.header .menu-icon .navicon {
    background: #17bed2;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #17bed2;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  
.header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  
@media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
 /*header*/

.header-list {
    padding-left: 0px;

}

header {
    padding: 15px 0;

}

.header-container {
    align-items: center;
}

.header-logo {
    margin-right: auto;
    float: left;
    margin-top: 15px;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;
}

.header-link {
    font-size: 13px;
    font-weight: 600;
    color: #515769;
    line-height: 55px;
}

/*section home*/

.main-content {
    text-align: center;
}

.main-text-form {
    display: flex;
    justify-content: center;
}

.main-title {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 15px;
}

.main-text {
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 40px;
}

.home {
    background: url(img/img/1920x1080/01.jpg) center center no-repeat;
    padding: 250px 0 200px;
    background-size: cover;
}

.main-btn {
    font-size: 15px;
    font-weight: 600;
    padding: 20px 30px;
    color: #515769;
    background: #fff;
    border-color: transparent;
    border-width: 0;
    display: flex;
    align-items: center;
}

.arrow {
    height: 30px;
}

.section-title {
    font-family: Hind,sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
}

.section-text {
    font-size: 15px;
    font-weight: 400;
    color: rgb(166, 167, 170);
    line-height: 1.4;
    width: 455px;
}

.item-title {
    color: rgb(81, 87, 105);
    font-family: Hind, sans-serif;
    outline: 0px;
    text-decoration: none;
    font-size: 22px;
    margin: 0px 20px 0px 0px;
}

.item-text {
    font-size: 15px;
    font-weight: 400;
    color: rgb(166, 167, 170);
    margin-bottom: 15px;
    font-family: Hind, sans-serif;
}

/* products */

.products-container {
    margin-bottom: 100px;
}

.products-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.products-items {
    display: flex;
    padding: 0px;
}

.products-item {
    width: 33.3333%;
    padding-right: 15px;
    padding-left: 15px;
}

.products-item-pic {
    max-width: 100%;
    height: auto;
    max-height:100%;
    margin-bottom: 20px;
}

.products-item-container {
    display: flex;
    margin-bottom: 15px;
}

.products-item-description {
    font-size: 14px;
    font-weight: 400;
    color: rgb(191, 193, 199);
    font-family: Hind, sans-serif;
    line-height: 1.4;
    margin-top: 6px;
}

.products-item-link {
    font-size: 13px;
    font-weight: 600;
    font-family: Hind, sans-serif;
    color: rgb(129, 132, 143);
}
.products-pic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.product-pic {
    width: 50%;
    max-width: 100%;
    height: auto;
    max-height:100%;
    margin-right: 2px;
}

.product-pic:not(:last-child) {
    margin-right: 4px;
} 

/* service */

.service-container {
    background: #fafafa;
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-item-title {
    margin-bottom: 15px;
} 

.service-item-pic {
    height: 25px;
    width: 25px;
    margin-top: 35px;
    margin-bottom: 25px;
    } 
    
 .service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
.service-item {
    width: 28%;
    padding: 20px;
    background: #fff;
    margin: 2px 2px 2px 2px;
    }
    
.service-floor {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
} 
   
.paralax {
    background-image: url(abc.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-floor-title {

    font-size: 50px;
    color: #fff; 
    font-weight: 700;
    line-height: 1.4;
    font-family: Hind,sans-serif;
    text-align: center;
}

.service-floor-text {
    font-size: 20px;
    color: #fff;
    opacity: .8;
    font-family: Hind,sans-serif;
    width: 720px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* work */

.work {
    position: relative;
    height: 670px;
}

.work-1 {
    position: absolute;
    left: 0%;
    top: 0px;
    
    padding-right: 4px;
    width: 66.66666667%;
}

.work-2 {
    position: absolute;
    left: 66.6084%;
    top: 0px;
    padding-left: 4px;
    width: 33.1%;
}

.work-3 {
    position: absolute;
    left: 0%;
    top: 328px;
    padding-right: 4px;
    width: 33.1%;
}

.work-4 {
    position: absolute;
    left: 33.3042%;
    top: 328px;
    padding-left: 2px;
    padding-right: 4px;
    width: 33.1%;
}

.work-5 {
    position: absolute;
    left: 66.6084%;
    top: 328px;
    padding-left: 4px;
    width: 33.1%;
}

.pricing-container {
    background: #fafafa;
    padding-top: 100px;
    padding-bottom: 100px;
}

.pricing-items {
    display: flex;
}

.pricing-item {
    background: #fff;
}

.pricing-item-title {
    margin-bottom: 15px;
}

.pricing-item-side {
    padding: 70px 45px 70px 45px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pricing-item-middle {
    padding: 110px 45px 110px 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pricing-item:not(:last-child) {
    margin-right: 4px;
}

.pricing-item-list {
    margin-bottom: 50px;
    padding-left: 0px;
}

.pricing-item-list-item{
    font-size: 13px;
    color: #81848f;
    padding-left: 20px;
    margin-bottom: 10px;
}


.pricing-item-text {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(166, 167, 170);
    font-family: Hind, sans-serif;
}

.pricing-item-btn {
    font-size: 13px;
    font-weight: 600;
    padding: 15px 40px;
    color: #515769;
    background: #f3f4f5;
    border-color: transparent;
    border-width: 0;
}

.reviews {
    margin-top: 80px;
    margin-bottom: 80px;
}

.reviews-title {
    font-size: 30px;
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 15px;
}

.reviews-text{
    font-size: 17px;
    font-weight: 400;
    color: #a6a7aa;
    max-width: 638px;
}

.reviews-name {
    font-size: 15px;
    color: #a6a7aa;
}

/* contact */

.map {
    width: 100%;
    height: 400px;
}

.contact-map {
    margin-bottom: 30px;
}

.contact-class {
    color: #515769;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0px;
    max-width: 800px;
    margin-left: 157px;
}

.contact-item{
    font-size: 16px;
    font-weight: 500;
    color: #777984;
    margin-bottom: 15px;
    min-width: 195px;
    margin-left: 15px;
    margin-right: 15px;
}

.line {
    color: #a6a7aa;
    border: none;
    background-color: #a6a7aa;
    height: 1px;
}

/* footer */

.footer {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-logo {
    width: 100px;
}

.footer-text {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-left: auto;
}

@media (max-width: 1024px) {
    
    body {
        max-width: 1024px; 
        font-family: 'font', sans-serif;
    }
    
    
    .contact-map {
        margin-bottom: 30px;
    }

    .container {
        width:900px;
        margin: 0 auto;
    }
    
    .item-title {
        font-size: 15px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
   
    .item-text {
        font-size: 12px;
        margin: 0;
        margin-bottom: 15px;
    }

    .products-item-description {
        font-size: 10px;
        font-weight: 400;
        color: rgb(191, 193, 199);
        font-family: Hind, sans-serif;
        line-height: 1.4;
        margin-top: 6px;
    }

    .products-item-link {
        font-size: 8px;
        font-weight: 600;
        font-family: Hind, sans-serif;
        color: rgb(129, 132, 143);
    }
    
    .pricing-item-list-item{
        font-size: 10px;
        color: #81848f;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    
    
    .work-3 {
      position: absolute;
      left: 0%;
      top: 219px;
      padding-right: 4px;
      width: 33.1%;
    }

    .work-4 {
      position: absolute;
     left: 33.3042%;
     top: 219px;
      padding-left: 2px;
     padding-right: 4px;
      width: 33.1%;
    }

    .work-5 {
       position: absolute;
      left: 66.6084%;
       top: 219px;
      padding-left: 4px;
      width: 33.1%;
    }

    
.work {
    position: relative;
    height: 470px;
}

}

@media (max-width: 375px) {
   
    body {
        max-width: 375px; 
        font-family: 'font', sans-serif;
    }
    
    .contact-map {
        margin-bottom: 5px;
    }

    .container {
        width:345px;
        margin: 0 auto;
    }
/* header */

header {
    padding: 0px;
}

.header-list-item:not(:last-child) {
    margin-right: 5px;
}

.header-link {
    font-size: 13px;
    font-weight: 500;
    color: #515769;
    line-height: 3;
    padding: 12px 12px 12px 15px;}


/* home */

    .main-title {
        font-size: 50px;
        color: #fff;
        font-weight: 700;
        line-height: 1.4;
        margin: 0 0 15px;
    }
    
    .main-text {
        font-size: 25px;
        color: #fff;
        font-weight: 400;
        margin-bottom: 40px;
    }    
     
    .main-btn {
        font-size: 14px;
        font-weight: 600;
        padding: 20px 30px;
        color: #515769;
        background: #fff;
        border-color: transparent;
        border-width: 0;
        display: flex;
        align-items: center;
    }
    
    .arrow {
        height: 25px;
    }

    .home {
        background: url(img/img/1920x1080/01.jpg) center center no-repeat;
        padding: 250px 0 200px;
        background-size: cover;
    }
    
    .section-title {
        font-family: Hind,sans-serif;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: #515769;
        line-height: 1.4;
        
    }
    
    .section-text {
        font-size: 15px;
        font-weight: 400;
        color: rgb(166, 167, 170);
        line-height: 1.4;
        width: 100%;
    }
    
    .item-title {
        font-size: 22px;
        margin-right: 5px;
        margin-bottom: 25px;
    }
   
    .item-text {
        font-size: 15px;
        margin: 0;
        margin-bottom: 20px;
    }
*/

.products-container {
    margin-top: 100px;
}

.products-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

 .products-item {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 50px;
 }
    
 .products-item-description {
    font-size: 14px;
    font-weight: 400;
    color: rgb(191, 193, 199);
    font-family: Hind, sans-serif;
    line-height: 1.4;
    margin-top: 6px;
    margin-left: 20px;
  }

  .products-item-link {
    font-size: 13px;
    font-weight: 600;
    font-family: Hind, sans-serif;
    color: rgb(129, 132, 143);
    margin-top: 20px;
 }
    
  .pricing-item-list-item{
    font-size: 5px;
    color: #81848f;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .products-pic {
    display: flex;
   flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 345px;
}

.product-pic {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height:100%;
    margin-right: 2px;
    margin-bottom: 4px;
}

.products-item-pic {
    max-width: 100%;
    height: auto;
    max-height:100%;
    margin-bottom: 10px;
  }
    
    
.products-item-container {
    display: flex;
    margin-bottom: 5px;
}

/* service */

.service-container {
    background: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
}


.service-item {
    width: 100%;
    padding: 20px;
    background: #fff;
    margin: 2px 2px 2px 2px;
}

.service-item-pic {
    height: 25px;
    width: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    } 
    
 .service-floor-title {

      font-size: 50px;
      /* color: #fff; */
      font-weight: 700;
      line-height: 1.4;
      font-family: Hind,sans-serif;
     text-align: center;
    }
    
 .service-floor-text {
    font-size: 20px;
       /* color: #fff; */
      opacity: .8;
      font-family: Hind,sans-serif;
      width: 90%;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
    }
    
    /* work */

    .work {
        position: relative;
        height: auto;
    }    

    .work-1 {
        position: relative;
        left: 0%;
        top: 0px;
        padding-right: 0px;
        width: 100%;
    }
    
    .work-2 {
        position: relative;
        left: 0%;
        top: 4px;
        padding-left: 0px;
        width: 100%;
    }
    
    .work-3 {
        position: relative;
        left: 0%;
        top: 8px;
        padding-right: 0px;
        width: 100%;
    }
    
    .work-4 {
        position: relative;
        left: 0%;
        top: 12px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    
    .work-5 {
        position: relative;
        left: 0%;
        top: 16px;
        padding-left: 0px;
        width: 100%;
    }
    
/* pricing */


.pricing-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pricing-item-side {
    padding: 70px 45px 70px 45px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.pricing-item-middle {
    padding: 70px 45px 70px 45px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.pricing-container {
    background: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pricing-item-btn {
    font-size: 13px;
    font-weight: 600;
    padding: 15px 40px;
    color: #515769;
    background: #f3f4f5;
    border-color: transparent;
    border-width: 0;
}

.pricing-item-list {
    margin-bottom: 50px;
    padding-left: 0px;
}


.pricing-item-list-item{
    font-size: 13px;
    color: #81848f;
    padding-left: 2px;
    margin-bottom: 3px;
}

.reviews {
    margin-top: 80px;
    margin-bottom: 80px;
}

.reviews-title {
    font-size: 30px;
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 5px;
}

.reviews-text{
    font-size: 17px;
    font-weight: 400;
    color: #a6a7aa;
    max-width: 100%;
    margin-left: 30px;
}

.reviews-name {
    font-size: 14px;
    margin-left: 30px;
    color: #a6a7aa;
}

/* contact */

.contact-class {
    color: #515769;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 0px;
    margin-left: 15px;
}

.contact-item{
    font-size: 14px;
    font-weight: 500;
    color: #777984;
    margin-bottom: 0;
    min-width: 195px;
    margin-left: 5px;
    margin-right: 5px;
}

.contact-item:not(:last-child) {
    margin-bottom: 25px;
}

.line {
    margin-top: 30px;
    margin-bottom: 0px;
}

/* footer */

.footer {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-logo {
    width: 90px;
}

.footer-text {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-left: auto;
    width: 50%;
    text-align: right;
}


}